extends layout

block layout-content
  div.indexDiv
    div.View.WelcomeView ipusahpdiunfdi
      div.View
        h1.Banner TITLE
        div.Message
          div.Title
          h3 Making the Best
          

